{% extends 'base.html.twig' %}

{% block title %}Modification profil{% endblock %}

{% block body %}
    <h1 class ="myProfileEditAvatar">Modifier ma photo de profil</h1>
    {{ include('user/_avatarForm.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}