{% extends 'base.html.twig' %}

{% block title %}Menu - Utilisateurs{% endblock %}

{% block body %}
    <li>
    {% for user in users %}
        <ul>{{user.pseudo}}</ul>
        <ul>{{user.sex}}</ul>
        <ul>{{user.level}}</ul>
    {% endfor %}
    </li>
{% endblock %}
