{% extends 'base.html.twig' %}

{% block title %}Menu - Utilisateurs{% endblock %}

{% block body %}
<div class='searchcontainer'>
<h2 class='h2search'>Résultat Recherche</h2>
<p>Sélectionnez un profil :</p>   
    {% for user in users %}
        <a class="playerContainer" href="{{ path('user_show', {id: user.id}) }}">
            <div class='player'>
                <div class='photo'><img src="https://via.placeholder.com/150" alt="avatar"></div>
                <div class='pseudo'>{{user.pseudo}}</div>
                <div class='sex'>{{user.sex}}</div>
                <div class='user'>{{user.level}}</div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
