{% extends 'base.html.twig' %}

{% block title %}Menu - Utilisateurs{% endblock %}

{% block body %}
    <ul>
    {% for user in users %}
        <li>{{user.pseudo}}</li>
        <li>{{user.sex}}</li>
        <li>{{user.level}}</li>
    {% endfor %}
    </ul>
{% endblock %}
