{% extends 'base.html.twig' %}

{% block body %}
    <div class='containerEdit'>
    <h2>Inserer Profil :</h2>
    {{ form_start(form) }}
        <div class='widget'>
        {{ form_widget(form) }}
        <div> Upload Image </div>
        </div>
        <button>Ajouter</button>
    {{ form_end(form) }}
    </div>
{% endblock %}