{% extends 'base.html.twig' %}

{% block title %}Participations • Tencourt{% endblock %}

{% block body %}
    <div class="containerMyMatchesBackground">
        <h1 class="myMatchesTitle">Mes participations</h1>
        <div class='myBlockListMatches'>
            {% for participation in participationsMatches %}
                <a  class="containerMatchlisting" href="{{ path('tennis_match_show', { 'id' : participation.id }) }}">
                    <div class="matchListing">
                        <p class="matchListingTitleMatch">{{ participation.name }}</p>
                    </div>
                </a>
            {% endfor %}
        <div>
    </div>
    <div class="blankMyProfileShowMatchPage"></div>
{% endblock %}