{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="user header">
        <div class="user profile" >  
            <img class="user profile-picture"src="https://picsum.photos/100"/>
            <div class="user description">
                <h1 class="user pseudo">{{ user.pseudo }}</h1>
                <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                </p>
            </div>
            <p class="user age">Age</p>
            <p class="user localisation">Localisation</p>
            <p class="user level">Niveau</p>
        </div>
        <div class="user contact">
            <p>Contact de la personne</p>
        </div>
        <a href="#" class="submit">Envoyer</a>
    </div>
<hr>
<nav class="navbar>">
    <ul>
        <li>Ajouter une annonce</li>
        <li>Rechercher</li>
        <li>User</li>
    </ul>
</nav>

{% endblock %}