{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Mon profil</h1>
        <img src="https://via.placeholder.com/150" alt="avatar">
        <h2>{{user.pseudo}}</h2>
        <ul>
            <li>Adresse actuelle</li>
            <p>42 rue du cochon sans tete</p>
            <li>Description</li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam suscipit, ipsa sit corrupti quod animi assumenda? Ea, quidem distinctio. Fuga, in! Adipisci, aliquid quos quibusdam voluptatum doloremque ipsa odit placeat.</p>
            <li>Mes matches</li>
            <li>Paramètres</li>
        </ul>
    </div>
{% endblock %}