{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="user section">
        <article class="userProfileShow" >  
            <img class="userPictureProfileShow"src="https://picsum.photos/100"/>
            <div class="userDescriptionShow">
                <p class="userPseudoShow">{{ user.pseudo }}</p>
                <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                </p>
            </div>
            <p class="userAgeShow">Age</p>
            <p class="userLocalisationShow">Localisation</p>
            <p class="userLevelShow">Niveau</p>
        </article>
        <card class="userContactShow">
            <p>Contact du joueur</p>
        </card>
        <a href="#" class="submitButtonShow">Envoyer</a>
    </div>
    
<nav class="containerNavbar">
    <ul class="navbar">
        <li>Ajouter une annonce</li>
        <li>Rechercher</li>
        <li>User</li>
    </ul>
</nav>

{% endblock %}